/* CSS Document */
/* GLOBAL */
.pseudo {
   color: #FFCC00;
   font-size:14px;
}
.oblig,.facul {
    text-align: left;
    font-weight: normal;
    border-style: none none none none;
}
.oblig_ko{ /*Suppr! id pour NewA et NewO*/
    text-align: center;
/*  font-weight: bold;*/
    border-color: #FF0000;
    border-style: none none solid none;
}
.facul_ko{
    text-align: center;
/*  font-size:14px;*/
    border-color: #000000;
    border-style: none none dashed none;
}
.mss_oblig{
    color: #FF0000;
    text-align: center;
}

#ajaxstatus{
    text-align: right;
    color: #000000;
}
.fondVert {
    background-color:#00FF00;
}
.fondRouge {
    background-color:#FF0000;
}





form {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}
INPUT, SELECT, textarea {
    cursor: crosshair;/*url(../Images/Curseurs/plus.cur)*/
    font-size:14px;
    font-family:Verdana;
/*  border-color=#FFFFFF;*/
}
textarea {
    /*font-family:Bookman;*/
    text-align:center;
    vertical-align:middle;
    background-color:#660000;
    color:#FFFFFF;
    border-style: none dashed none dashed;
}
SELECT {
    border-style: none dashed none none;
}
INPUT {
    border-width: thin;
    border-style: none none none none;
     /*border-color:#FFCC00
     border: 2px outset #d7b9c9*/
}
#file{
    border-width: 1 1 1 1;
    border-style: solid solid solid solid;
}
.browse{
    border-width: 1 1 1 1;
}
SELECT {
     margin: 0em 0em 0em 0em;
     padding: 0em 0em 0em 0em;
}

#InpTitreO,.titreOeuvre{
    font-size: 14pt;
    font-weight: bold;
    color:#FFCC00
}
#InpNomA, .InNmA, .InNmA_ko,.nomArtiste{
    text-align: right;  
    font-size: 14pt;
    font-weight: bold;
    color:#CCFF00
}
#InpNomA,.InNmA_ko,.InTtO_ko, #InpTitreO, .pspswcp{ /*Suppr! id pour NewA et NewO*/
    text-align: center;
/*  font-weight: bold;*/
    border-color: #FF0000;
    border-style: none none solid none;
}
.InTtO,.InTtO_ko{
    font-size: 14pt;
    font-weight: bold;
    color:#FFCC00
}
.titreDate{

}
.nomArtiste{

}
.nomMembre{

}


.barre{
text-decoration:line-through;
}
.barre,.oblig,.facul, .InNmA, .InTtO{
    text-align: left;
    font-weight: normal;
    border-style: none none none none;
}
.InNmA, .InTtO{
    text-align: center;
}
.disabled{
    font-weight:normal;
    font-variant:normal;
    font-style:normal;
    text-decoration:none;
    border-style: none none none none;
}
.pspswcp{
    font-weight: bold;
    color:#000000;
    background-color:#FF0000;
    border-color: #000000;
    border-width: thin;
    border-style: none none solid none;
}
.pseudpsw,.connect,.sinscrire{
    font-size:10px;
    text-decoration:none;
    color:#000000;
    font-family:Verdana;
    font-weight:bold;
    background-color:#FF0000;
    border-color: #000000;
    border-width: thin;
    border-style: none none solid none;
}
.connect{
    color:#FF0000;
    background-color:#000000;
/*  border-color: #FF0000;*/
    border-style: none none none none;
}
.sinscrire{
    text-decoration:none;
    border-style: none none none none;  
}