/********** AQUA STYLE ********/
ul.aqua {
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #444;
	position: absolute;
	z-index: 9999;
	cursor: default;
	display: none;
}

ul.aqua li {
	-moz-user-select: none;
	padding: 3px 0 3px 5px;
	_padding: 0 0 0 5px; /* IE ... */
	color: #444;
	font: 11px Arial;
	background: #eee;
	text-decoration: none;
	cursor: default;
}

ul.aqua li.selected {
	background: lightsteelblue;
}

a.aqua {
	display: block;
	width: 200px;
	height: 19px;
	background: url(aqua.gif) no-repeat left 0;
	font: 11px Arial;
	text-decoration: none;
	cursor: default;
	color: #444;
}

a.aqua div {
	background: url(aqua.gif) no-repeat right 0;
	padding: 2px 0 4px 0;
	height: 13px;
	_height: 19px;  /* IE ... */
	overflow: hidden;
	margin-left: 7px;
	-moz-user-select: none;
}

a.aqua div * { font: 11px Arial; color: #444; }

a.aqua:hover,
a.aqua:focus,
a.aqua:active {
	background: url(aqua.gif) no-repeat left -19px;
}

a.aqua:hover div,
a.aqua:focus div,
a.aqua:active div {
	background: url(aqua.gif) no-repeat right -19px;
}
