.scrollBar .bar{
	width:16px;
	height:13px;
}

.scrollBar .button{
	width:16px;
	height:13px;
	background-color:#FFB119;
	outline:none;
	background-position:top center;
	background-repeat:no-repeat;
	cursor:pointer;
}

#listeparent .scrollBar .button.topButton{
	background-image:url('arrow-up-white.gif');
}
#listeparent .scrollBar .button.bottomButton{
	background-image:url('arrow-down-white.gif');
}
#listeparent .scrollBar .knobVerticalFill{
	background-image:url('vertical-knob-black.gif');
}
/*#listeparent .scrollBar .topTip{
	background-image:url('knob-top.gif');
}
#listeparent .scrollBar .bottomTip{
	background-image:url('knob-bottom.gif');
}*/

#membresparent .scrollBar .button.topButton{
	background-image:url('arrow-up-black.gif');
}
#membresparent .scrollBar .button.bottomButton{
	background-image:url('arrow-down-black.gif');
}
#membresparent .scrollBar .knobVerticalFill{
	background-image:url('vertical-knob-white.gif');
}
/*#membresparent .scrollBar .topTip{
	background-image:url('knob-top.gif');
}
#membresparent .scrollBar .bottomTip{
	background-image:url('knob-bottom.gif');
}*/

.scrollBar .button.active, .scrollBar .button.H{
	background-position:bottom center ;
}
.scrollBar .scrollable{
	cursor:pointer;
	/*background-image:url('stripe.gif');
	background-repeat:repeat;*/
}

.scrollBar .knob{
	height:20px;
}

.scrollBar .knob.verticalKnob{
	/*cursor:n-resize;*/
}


.scrollBar .knobVerticalTip{
	height:0px;
	background-position:top center;
	background-repeat:no-repeat;
}

.scrollBar .active .knobVerticalTip, .scrollBar .H .knobVerticalTip{
	background-position:bottom center;
}

.scrollBar .knobVerticalFill{
	/*background-color:#FFB119;*/
	background-position:left center;
	background-repeat:repeat-y;
	position:absolute;
	bottom:0px;
	top:0px;
}

.scrollBar .active .knobVerticalFill,.scrollBar .H .knobVerticalFill {
	background-position:right center;
}

.scrollBar .bottomTip{
	position:absolute;
	bottom:0;
}

.scrollBar .knob.active{
	border:none;
}